

<% include ../sample.ejs %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
<p><h2>Interested Member:</h2></p>

<table class="table">
	<%var n=count%>
<% for(i = 0;i<n;i++) { %>
<tr><td><%=username[i]%></td></tr>
<% }%>
</table>

</div>
</div>
</div>


<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>